
.carousel-inner{
    height: 800px;
   
}
.card{
    width: 20rem;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;

}

.titulo-nosotros{
    text-align:start;
}
.bmdesc{
    margin-top: 10px;
}
